.signupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0b0ff; /* 자주빛에서 보라빛으로 변경 */
  margin-bottom: 60px;
}

.signupForm {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  width: 100%;
}

.signupForm h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.inputField {
  margin-bottom: 15px;
}

.inputField label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.inputField input {
  width: 80%; /* 폭을 80%로 조정 */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 3px;
}

.signupForm button {
  width: 87%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}

.signupForm button:hover {
  background-color: #0056b3;
}
